ul{
	padding: 0;
	margin: 0;
}

button{
	outline: none !important;
}

li{
	list-style: none;
}

.sidebar{
	background-color: #5FC77E;
	height: 1000px;
	color: #fff;
}

.sidebar ul a{
	color: #fff;
}

.sidebar ul a:hover{
	color: #fff;
	text-decoration: none;
}

.sidebar ul a.active,
.sidebar ul a:hover,
.sidebar ul a:active{
	background: #fff;
	color: #5FC77E;
	text-decoration: none;
}


.logo{
	width: 130px;
	height: 40px;
	margin-bottom: 40px;
}

/*.active-bookmark{
	background-color: #5FC77E;
}
*/
.active-bookmark a,
.active-bookmark .glyphicon{
	color: #5FC77E;
}
.active-bookmark{

}

.sidebar li a{
	padding: 10px;
	display: block;
}

.wrapper{
	width: 300px;
}